<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="/register" class="btn btn-secondary ml-2">Register</a>
        <div th:if="${param.error == 'blocked'}" class="alert alert-danger mt-2">
            <p>Your account is blocked. Please contact support.</p>
        </div>
    </form>
    <div th:if="${param.error == 'true'}" class="alert alert-danger" role="alert">
        <p>Your account is blocked. Please contact support.</p>
    </div>
</div>
</body>
</html>
